{
    "extends": "vue",
    "rules": {
      "space-before-function-paren" : [0, "never"]
    },
    "globals": {
      "_": true,
      "Vue": true,
      "$router": true
    },
    "env" : {
      "browser": true
    }
}