.add-skill-row {
  margin-bottom: 10px;
}

.skills-item {
  width: 50%;
  padding-right: 90px;
  margin-bottom: 25px;
}

.skills-title {
  margin-bottom: 20px;
}

.skill-error {
  margin-bottom: 10px;
  font-size: 13px;
  color: firebrick;
}